<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <header>
    <nav>
      <ul>
        <li id='icon'>Bitmaker CRM</li>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">Add a contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <p>&copy;2017 Bitmaker GA</p>
  </footer>
</html>
